numpy==1.26.3
anndata==0.10.3
pandas==2.1.4
scipy==1.11.4
matplotlib==3.8.2
scanpy==1.9.6
umap-learn==0.5.5
rpy2==3.5.11
seaborn==0.13.1
networkx==3.2.1
hnswlib==0.8.0
annoy==1.17.3
tqdm==4.65.0
torch==1.12.0
torch-geometric==2.4.0
torch-cluster==1.6.0
torch-scatter==2.1.0
torch-sparse==0.6.16
jupyterlab==4.0.8